{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}

{% block title %}{{user.username}} Detail {% endblock title %}
{% block extra_head %}{% endblock extra_head %}

<!-- NAVBAR -->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


<!-- MAIN -->
<!-- left sidebar -->
{% block left_sidebar %}
{% include 'components/sidebars/left/sidebar.html' %}
{% endblock left_sidebar %}

<!-- main content -->
{% block content %}

<div class="bg-white max-w-full dark:bg-dark-second shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="bg-white max-w-full dark:bg-dark-third px-4 py-5 border-b rounded-lg mb-2 dark:bordcer-dark-second border-gray-200 sm:px-6">
        <div class="text-xl leading-6 cursor-default dark:text-dark-txt prose rounded font-bold text-gray-900">
            Search Results
        </div>
        <p class="mt-1 text.sm cursor-default dark:text-dark-txt text-gray-500">
            These are all the search results from your query. You may try with diferent name.
            Hint: Try searching for posts, courses or people names.
        </p>
    </div>

    <ul class="gris grid-cols-2 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for profile in profile_list %}
        <li class="col-span-1 flex flex-col text-center dark:bg-dark-main bg-white rounded-lg shadow">
            <div class="flex-1 flex flex-col p-8">
            {% if profile.picture %}
                <a href="{% url 'users:profile' username=profile.user.username %}">
                <img alt="View Profile" class="h-32 w-32 flex-shrink-0 mx-auto dark:bg-dark-second br-white rounded-full" src="{{profile.picture.url}}">
                </a>
            {% else %}}
                <a href="{% url 'users:profile' username=profile.user.username %}">
                <img alt="View Profile" class="h-32 w-32 flex-shrink-0 mx-auto dark:bg-dark-second br-white rounded-full" src="{% static 'user_default_profile.png' %}">
                </a>
            {% endif %}
                <h3 class="mt-6 dark:text-dark-txt text-gray-900 cursor-default text-lg font-bold prose">{{profile.user.username}}</h3>
            </div>
        </li>
    </ul>

    {% endfor %}



</div>

{% endblock content %}

{% block right_sidebar %}
{% endblock right_sidebar %}


<!-- FOOTER -->
{% block footer %}

{% endblock footer %}


{% block javascript %}{% endblock javascript %}